@import "src/assets/scss/param";

.settingBtn {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  background-color: white;
  @include min-btn-hover;

  > svg {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 48em) {
  .settingBtn {
    width: 8rem;
    height: 8rem;

    > svg {
      width: 4rem;
      height: 4rem;
    }
  }
}