@import "src/assets/scss/param";

.main {
  border-radius: 4rem;
  background-color: white;
  cursor: pointer;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0 .4rem 2rem -.4rem rgba(0, 0, 0, .15);
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: var(--height);
  padding: 1rem 2rem 2rem 2rem;
  transform-origin: top;
  transition: height .3s ease;
  animation: show .35s ease;
  overflow: hidden;

  &.closing {
    animation: showReverse .35s ease;
  }
}

@keyframes show {
  0% {height: 0; padding-top: 0; padding-bottom: 0}
  100% {height: var(--height); padding-top: 1rem; padding-bottom: 2rem}
}

@keyframes showReverse {
  0% {height: var(--height); padding-top: 1rem; padding-bottom: 2rem}
  100% {height: 0; padding-top: 0; padding-bottom: 0}
}