$black: #393B44;
$purple: #8B98EE;
$purpleStatus: #D783FF;
$green: #87D449;
$green-light: #7ADA7E;
$red: #EB376D;
$pink: #FE85D5;
$orange: #FF9255;
$orange-dark: #FE6E1E;
$azure: #5BC2FF;
$gray: #CACCDA;
$gray-light: #EEEFF5;
$placeholder: #93A1B2;
$bg-content: rgba(221, 223, 236, 0.4);

@mixin btn-hover {
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: 0 0 1rem 1px rgba(0,0,0,0.2) inset;
  }
}

@mixin min-btn-hover {
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: 0 0 .5rem 1px rgba(0,0,0,0.2) inset;
  }
}

@mixin showAnimStyle {
  transform-origin: top;
  animation: showAnim .3s ease;
}

@keyframes showAnim {
  0% {transform: scaleY(0);}
  100% {transform: scaleY(1);}
}

@keyframes hideAnim {
  0% {transform: scaleY(1);}
  100% {transform: scaleY(0);}
}

@keyframes showOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hideOpacity {
  0% {opacity: 1;}
  100% {opacity: 0;}
}