.main {
  position: relative;
  min-height: 10rem;
}

.item {
  &:not(:first-child) {
    padding-top: 2.2rem;
  }

  &:not(:last-child) {
    padding-bottom: 2.2rem;
  }

  &.disable {
    .details__thread-server-btn:before {
      border: 3px solid #B0B2C0;
      background-color: #CACCDA;
    }
  }
}

.recipients {
  display: grid;
  grid-template-columns: repeat(5, 31.8rem);
  gap: 1.6rem;
}