.main {
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 3rem;
  background-color: #EEEFF5;
}

.content {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: white;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 38rem;
  margin-top: .6rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .4rem;
    border-radius: 10rem;
    background-color: rgba(238, 239, 245, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(161, 177, 197, 0.2);
  }
}

@media (max-width: 48em) {
  .main {
    padding: 4rem 3.2rem;
    border-radius: 5rem;
  }

  .content {
    width: calc(100% + 3.2rem);
    margin-top: 3.2rem;
    padding: 2rem;
    border-radius: 5rem 0 0 5rem;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .list {
    width: max-content;
    height: auto;
    max-height: 102rem;
    padding-right: 0;

    &::-webkit-scrollbar {
      width: .6rem;
    }
  }
}