.main {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding: 0 2rem;
  border-radius: 100rem;
  background-color: rgba(221, 223, 236, 0.4);
}

.switch {
  display: flex;
  align-items: center;
  gap: 1rem;

  > p {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}