.content {
  background: white;
  font-size: 1.8rem;
  border-radius: 5rem;
  padding: 3rem;
  max-height: calc(100vh - 10rem);
  overflow-y: auto;

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.line {
  background-color: black;
  height: 1px;
  margin: 2rem 0;
}