@import "src/assets/scss/param";

.main {
  display: flex;
  align-items: center;
  gap: 6rem;
  padding: 2rem;
  border-radius: 3rem;
  background-color: white;
}

.tooltip {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 1.5rem 1.2rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: $black;
  box-shadow: 0 1.5rem 3rem rgba(53, 59, 90, 0.50);
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  transition: visibility .2s, opacity .2s ease, left .25s ease, top .25s ease, z-index .3s;

  &.show,
  &:hover {
    z-index: 2;
    visibility: visible;
    opacity: 1;
  }

  > div {
    > div:nth-child(1) {
      margin-bottom: .4rem;
    }

    > div:nth-child(2) {
      display: flex;
      align-items: center;
      gap: .3rem;

      > svg {
        transform: translateY(-1px);
      }

      > span:nth-child(3) {
        color: #A1B1C5;
      }
    }
  }
}

.graphBox {
  position: relative;
  width: 23.2rem;
  height: 23.2rem;
}

.qtyServersBox {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 8rem;
  transform: translate(-50%, -50%);

  > p {
    text-align: center;

    &:nth-child(1) {
      font-weight: 700;
      font-size: 1.6rem;
    }

    &:nth-child(2) {
      font-weight: 400;
      font-size: 1rem;
      color: #8998AB;
    }
  }
}

.statBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 2.5rem;
  row-gap: 3rem;
  width: 54rem;
}

@media (max-width: 48em) {
  .main {
    flex-direction: column;
    gap: 3.2rem;
    padding: 2.4rem;
    border-radius: 5rem;
  }

  .tooltip {
    padding: 2.4rem;
    border-radius: 3rem;
    box-shadow: 0 3rem 6rem 0 #353B5A80;
    font-weight: 700;
    font-size: 2.4rem;

    > div {
      > div:nth-child(1) {
        margin-bottom: 1.2rem;
      }

      > div:nth-child(2) {
        gap: .6rem;
      }
    }
  }

  .graphBox {
    width: 43.2rem;
    height: 43.2rem;
  }

  .qtyServersBox {
    max-width: 17rem;

    > p {
      &:nth-child(1) {
        margin-bottom: .8rem;
        font-size: 3.2rem;
      }

      &:nth-child(2) {
        font-size: 2.4rem;
      }
    }
  }

  .statBox {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    row-gap: 4rem;
    width: 100%;
  }
}