.main {
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 3rem;
  background-color: #EEEFF5;
}

.content {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: white;
}

.list {
  max-height: 38rem;
  margin-top: .6rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .4rem;
    border-radius: 10rem;
    background-color: rgba(238, 239, 245, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(161, 177, 197, 0.2);
  }
}