@import "../../../../assets/scss/param";

.status {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: $gray;

  &.ACTIVE {
    background-color: $green;
  }

  &.NON_ACTIVE {
    background-color: $red;
  }

  &.PARTIALLY_ACTIVE {
    background-color: $purpleStatus;
  }
}