@import "src/assets/scss/param";

.main {
  display: flex;
  gap: .2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  background-color: $gray-light;
  @include min-btn-hover;
}