@import "src/assets/scss/param";

.main {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  min-width: 8rem;
  height: 3.6rem;
  padding: .8rem;
  border-radius: 10rem;
  background-color: $gray-light;
  font-weight: 700;
  font-size: 1.6rem;
}

.icon {
  align-self: flex-start;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -.2rem;
  border: 1px solid $gray-light;
  border-radius: 100%;

  & ~ .icon {
    margin-left: -1.2rem;
  }
}