@import "src/assets/scss/param";

.main {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem 0;

  > * {
    flex: none;

    &:nth-child(1) {
      width: 7.6rem;
    }
    &:nth-child(2) {
      width: 40rem;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.editBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  background-color: white;
  @include min-btn-hover;

  > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.name {
  font-size: 1.6rem;
}