@import "src/assets/scss/param";

.main {
  display: flex;
  justify-content: flex-end;
  gap: .8rem;
  width: 100%;
  margin-top: 1.5rem;
}

.submit,
.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 100%;
  @include btn-hover;
}

.submit {
  border: 2px solid #7482DA;
  background-color: #8B98EE;
}

.cancel {
  border: 2px solid #C62555;
  background-color: #EB376D;
}