@import "./src/assets/scss/param";

.main {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 100%;
  background-color: $green;

  > svg {
    width: 2rem;
    height: 3rem;
  }

  &.edit {
    background-color: $azure;
  }
}

.title {
  transform: translateY(1px);
  font-size: 3rem;
  line-height: 4.4rem;
}

.subTitle {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #93A1B2;
}

.nameLabel {
  width: 38rem;
  height: 5.6rem;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: #EEEFF5B2;

  > input {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 1.8rem;
  }
}