.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2.3rem 0;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:first-child) {
    border-top: 1px solid #f1f2f7;
  }
}

.item {
  position: relative;
  min-width: 15rem;
  padding: 1rem 2rem;
  border-radius: 0 .8rem .8rem .8rem;
  background: rgba(136, 208, 250, 0.3);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;

  > svg {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 3.4rem;
    height: 1rem;
  }
}