@import "src/assets/scss/param";

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2.3rem 0;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:first-child) {
    border-top: 1px solid #f1f2f7;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 19.5rem;
  padding: .5rem 1.5rem .5rem .5rem;
  border: 1px solid #87D449;
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1.6rem;

  > p {
    transform: translateY(1px);
  }
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
}