@import "src/assets/scss/param";

.main {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2.8rem;

  > input {
    display: none;
  }
}

.item {
  padding-bottom: .4rem;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color .15s ease;

  &:hover {
    color: #8B98EE;
  }

  &.active {
    border-bottom: 2px solid #8B98EE;
    color: #8B98EE;
  }
}

.downloadLog {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .8rem 1.2rem;
  margin-left: auto;
  border-radius: 2rem;
  background-color: #EEEFF5;
  @include btn-hover;

  > svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}