@import "src/assets/scss/param";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  background-color: #EEEFF5;
  transition: box-shadow .2s ease;

  > svg,
  > img {
    width: 3rem;
    height: 3rem;
  }

  &:hover {
    box-shadow: 0 0 1rem 1px rgba(0,0,0,0.2) inset;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8rem;
  height: 100%;
  padding: 0 6rem 0 2.4rem;
  border-radius: 100rem;
  background: rgba(221, 223, 236, 0.40);
}

.itemLink {
  @include btn-hover;
}

.itemTitle {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #93A1B2;
}

.itemText {
  display: flex;
  align-items: center;
  gap: .4rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: lowercase;

  > svg,
  > img {
    width: 1.6rem;
    height: 1.6rem;
    transform: translateY(-1px);
  }
}

.itemIcon {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);

  > img,
  > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}