.search {
  display: flex;
  align-items: center;
  height: 5.2rem;
  padding: 0 2rem;
  margin-bottom: 1.4rem;
  border-radius: 100rem;
  background-color: white;
  font-size: 1.6rem;

  > svg {
    flex: none;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1.2rem;
  }

  > input {
    transform: translateY(1px);
  }
}