.main {
  display: none;
  align-items: center;
  gap: 1.5rem;
  font-weight: 400;
  font-size: 2.2rem;

  > button {
    width: 4.2rem;
    height: 4.2rem;
  }

  &.visible {
    display: flex;

    ~ * {
      display: none;
    }
  }
}