@import "../../../assets/scss/param";

.main {
  display: flex;
  align-items: center;
  width: 43rem;
  height: 5.2rem;
  padding: 0 2rem;
  border-radius: 100rem;
  background-color: $gray-light;
  cursor: pointer;

  > svg {
    flex: none;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1.2rem;
  }

  > input {
    width: 100%;
    transform: translateY(1px);
    font-size: 1.6rem;
    line-height: 2.4rem;

    &::placeholder {
      color: $placeholder;
    }
  }
}