@import "src/assets/scss/param";

.item {
  display: flex;
  align-items: center;
  padding: .4rem;
  min-height: 3rem;
  font-weight: 700;
  font-size: 1.3rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(161, 177, 197, 0.2);
  }

  > * {
    display: flex;
    align-items: center;
    gap: .5rem;

    &:nth-child(1) {
      width: 17rem;
    }

    &:nth-child(2) {
      width: 14.2rem;
      padding-right: 1rem;
    }

    &:nth-child(3) {
      width: 15.2rem;
    }

    &:nth-child(4) {
      width: 12.2rem;
    }

    &:nth-child(5) {
      flex: auto;
    }
  }

  &.active {
    border-radius: 2rem;
    background-color: $azure;
    color: white;
  }
}

.qty {
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  border-radius: 100%;
  background-color: #EEEFF5;
  font-weight: 700;
  font-size: .8rem;
  text-transform: uppercase;
  color: #8998AB;

  > b {
    font-size: 1.1rem;
  }
}

@media (max-width: 48em) {
  .item {
    flex: none;
    width: max-content;
    padding: 1rem .4rem;
    min-height: 5.6rem;
    font-size: 2.4rem;

    > * {
      gap: 0;

      &:nth-child(1) {
        width: 25rem;
      }

      &:nth-child(2) {
        width: 16rem;
      }

      &:nth-child(3) {
        width: 22rem;
      }

      &:nth-child(4) {
        width: 14rem;
      }

      &:nth-child(5) {
        flex: none;
        width: 20rem;
      }
    }

    &.active {
      border-radius: 5rem;
    }
  }

  .qty {
    width: 3.6rem;
    height: 3.6rem;
    padding: .8rem;
    font-size: 1.4rem;

    > b {
      font-size: 2rem;
    }
  }
}