@import "./src/assets/scss/param";

.btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 100%;
  background-color: $green;
  @include btn-hover;

  > svg {
    width: 2.6rem;
    height: 2.6rem;
  }
}

.text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: .02em;
}