@import "./src/assets/scss/param";

.container {
  width: 145rem;
  padding: 0 13rem 3rem 18rem;
  overflow: visible;
}

.stat {
  position: relative;
  flex: none;
  width: 114.3rem;
  height: 55rem;
  border: 1px solid #DDDFEC;
}

.list {
  position: relative;
  display: flex;
  gap: 4rem;
  width: 100%;
  height: calc(100% + 3rem);
  margin-top: -3rem;
  padding: 7.6rem 9rem 2rem 9rem;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 1rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    background-color: #B4BAD2;

    &:hover {
      background-color: #757988;
    }
  }
}